html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-width: 700px;
}

body {
    margin: 0;
}

button {
    background: #f2f2f2;
    font-size: 13px;
    padding: 9px 15px;
    display: inline-block;
    border-radius: 5%;
    border: none;
    margin: 0 5px;
}

a {
    color: black;
    text-decoration: none;
}

input {
    display: block;
    width: 440px;
    border: none;
    background: none;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 482px;
    height: 40px;
    margin: 27px auto;
    border: 1px solid rgb(219, 219, 219);  
    border-radius: 500px;    
}

.input:hover {
    box-shadow: 0 -2px 2px rgb(219, 219, 219),
                0 3px 2px rgb(219, 219, 219),
                -2px 0 2px rgb(219, 219, 219),
                2px 0 2px rgb(219, 219, 219);
}

.waffle {
   height: 17px;
   width: 17px;
}

.waffle:hover {
    height: 18.5px;
    width: 18.5px;
}

.buttons {
    text-align: center; 
}

.sign_in {
    background: #4387fd;
    Color: white;
    font-size: 13px;
    border-radius: 4%;
    font-weight: bold;
    padding: 6px 11px;
    border: none;
}

.navleft {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    line-height: 30px;
    margin-left: 5px;
}

.navright {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    line-height: 30px;
}

.footleft {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    line-height: 40px;
}

.footright {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    line-height: 40px;
}

.footer {
    background: #f2f2f2;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    margin-left: 5px;
    min-width: 700px;
}

.main {
    margin-top: 200px;
}

.logo {
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    width: 100%;
    height: 30px;
    font-size: 13px;
    position: absolute;
    top: 15px;
    min-width: 700px;
}


.navleft span {
    margin-left: 15px;
}

.navright span, .navright a, .navright button {
    margin-right: 10px;
}

.footleft span {
    margin-left: 20px;
}

.footright span {
    margin-right: 20px;
}

.footleft span a, .footright span a {
    color: grey;
}

.navright a img {
    position: relative;
    top: 3px;
}

.navleft span:hover , .navright span:hover {
    text-decoration: underline;
}

.footleft span:hover, .footright span:hover {
    text-decoration: underline;
}

.buttons button:hover {
    border: 1px solid rgb(219, 219, 219);
    color: black;
}

.sign_in:focus {
    background: #3874db;
}